<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Лабораторная № 6{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <main class="card">
      <nav><a href="{{ url_for('greeting') }}">Форма</a><a href="{{ url_for('students') }}">Таблица</a></nav>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
